<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>formProduits</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />

</head>
<body>
	<div class="layout">
		<div class="spacer col-md-6 col-xs-4">
			<div class="panel">
				<div class="panel-heading">Saisie d'un produit</div>
				<div class="panel-body">
					<form th:action="@{save}" method="post">
						<div class="form-group">
							<label class="control-label">Designation:</label> <input
								class="form-control" type="text" name="designiation"
								th:value="${produit.designiation}"></input> <span class="red"
								th:errors="${produit.designiation}"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Prix:</label> <input
								class="form-control" type="text" name="prix"
								th:value="${produit.prix}"></input> <span class="red"
								th:errors="${produit.prix}"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Quantité:</label> <input
								class="form-control" type="text" name="quantite"
								th:value="${produit.quantite}"></input> <span class="red"
								th:errors="${produit.quantite}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>